:root {
  --primary: #634dce;
  --secondary: gray;
}

#container {
  display: flex;
}

#main {
  width: 100%;
  background-color: #FFFFFF;
}

.p-4 {
  padding: 2.5rem !important;
}



.col {
  /* flex: 0 0 auto; */
  margin: 0 0 1rem;
}



input::placeholder {
  color: gray;
  font-size: 1.2em;
  font-style: italic;
}

.input {
  display: inline-block;
  padding: .375rem .75rem;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #67757c;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  appearance: none;
  border-radius: .3rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}


.input-wrapper {
  position: relative;
  width: 271px;
}

.input-1 {
  box-sizing: border-box;
  color: #191919;
  padding-left: 35px;
  /* width: 100%; */
}

.input-icon {
  color: #191919;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.btn {
  display: inline-block;
  font-weight: 500;
  line-height: 1.5;
  color: #67757c;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: .375rem .75rem;
  font-size: .875rem;
  border-radius: .3rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #745af2;
  border-color: #745af2;
}

.btn-disabled {
  opacity: .5;
  cursor: not-allowed;
  color: #fff;
  background-color: #745af2;
  border-color: #745af2;
}

.btn-primary:hover {
  color: #fff;
  background-color: #634dce;
  border-color: #5d48c2;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.card {
  border: 1px solid black;
  border-collapse: collapse;
}

/* SPECIFIC DOCUMENT STYLES */


body {
  font-family: 'Arial', sans-serif;
  font-size: 1.5em;
  color: #000;
  background: #fff;
  margin: 30px;
  /* text-align: center; */
}


.col {
  padding: 10px;
  margin: 5px 0;
  /* text-align: center; */
  /* border: 1px solid #000; */
  /* background: #ecdb54; */
}

/* GENERAL GRID STYLES */

.col {
  flex-basis: 100%;
}

@media screen and (min-width: 980px) {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .col {
    flex: 1;
  }

  .col-05 {
    flex: 0.5;
  }

  .col-10 {
    flex: 1;
  }

  .col-15 {
    flex: 1.5;
  }

  .col-20 {
    flex: 2;
  }

  .col-25 {
    flex: 2.5;
  }

  .col-30 {
    flex: 3;
  }

  .col-35 {
    flex: 3.5;
  }

  .col-40 {
    flex: 4;
  }

  .col-45 {
    flex: 4.5;
  }

  .col-50 {
    flex: 5;
  }

  .col-55 {
    flex: 5.5;
  }

  .col-60 {
    flex: 6;
  }

  .col-65 {
    flex: 6.5;
  }

  .col-70 {
    flex: 7;
  }

  .col-75 {
    flex: 7.5;
  }

  .col-80 {
    flex: 8;
  }

  .col-85 {
    flex: 8.5;
  }

  .col-90 {
    flex: 9;
  }

  .col-95 {
    flex: 9.5;
  }
}

.parent {
  display: flex;
}

.child {
  margin-left: auto;
  order: 2;
}

.nowrap {
  white-space: nowrap !important;
}

.alignRight {
  text-align: right;
}

.alignCenter {
  text-align: center;
}

.icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.icon-primary {
  color: #634dce;
}